/*Fuentes: */
@font-face {
  font-family: "Bree Serif";
  src: url("../assets/fonts/BreeSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

/*root*/
:root {
    /*Variables: */
    --color-primario: #A00008;
    --color-secundario: #E97F20;
    --color-acento: #15838E;
    --color-complemento: #2ABF1A;
    --fuente-titulo: "Bree-Serif", serif;
    --fuente-cuerpo: "Open Sans", sans-serif;


}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/31003650_7756902.svg");
    background-repeat: no-repeat;
    background-size: 710rem;

}

main{
    flex: 1;
}

